.logo {
    width: 20%;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.menu__button {
    padding: 1em 1.5em;
    background-color: #a02279;
    color: #ffffff;
    border-radius: 0.5em;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .menu__button {
      display: none;
    }
  }